@charset "UTF-8";
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);  
}
@import "~bootstrap/scss/bootstrap";
body {
  // --page-background: #404046;
  --page-background: #fff;
  background-color: var(--page-background);
}
// // 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/root',
  'abstracts/reusable';
  
  



// // 3. Base stuff
// @import
//   'base/base',
//   'base/fonts',
//   'base/typography';
//   // 'base/helpers';

// // 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// // 5. Components
@import
  'components/button';

// // 6. Page-specific styles
@import
  // 'pages/home',
  // 'pages/ldtv';
  'pages/career',
  // 'pages/survey',
  // 'pages/thankyou',
  'pages/start-your-journey-with-us',
  'pages/career-details',
  // 'pages/creative-portfolio',
  // 'pages/pie-chart-canvas',
  // 'pages/career-lp',
  'pages/career-job-listing';
  

  // ,

// // 7. Themes
@import
  'themes/default';