canvas, #piechart{
    // width: 640px !important; 
    // height: 640px !important;
    background: #E1E1E1;
    width: 100% !important; 
    height: 100% !important;
    margin: 0px auto;
    border: 15px solid $gray-E9EAED;
    border-radius: 50%;
    // padding: 0px 5px 10px;
    background: #E1E1E1 url(../../img/life-cycle/circle.png) scroll no-repeat center center;
    background-size: 49% 49%;
    padding: 10px;
}
.chartjs-tooltip-key{width: 20px;height: 20px;display: inline-block;border: 2px solid #000;}